{# <div class="my-16 grid lg:grid-cols-2 gap-8">
    <blockquote class="max-w-xl mx-auto leading-tight text-base sm:text-xl"
        data-aos="flip-right" data-aos-duration="1000">
        <p class="italic mb-1">
            A "found footage" horror that I had little knowledge or expectations about. After an action-packed introduction,
            a brisk setup introducing the characters and their quest, it moves down to the catacombs underneath Paris.
            Similar to The Descent, it uses the claustrophobic setting to great effect. This is combined with a great telling
            of Dante’s Inferno 9 Circles of Hell allegory and creepy characters it has genuinely frightening moments. Running
            at a brisk 90 minutes, it uses every inch of its runtime to fantastic effect.
        </p>
        <p class="text-zinc-400">As Above, So Below</p>
    </blockquote>

    <blockquote class="max-w-xl mx-auto leading-tight text-base sm:text-xl"
        data-aos="flip-left" data-aos-delay="500" data-aos-duration="1000">
        <p class="italic mb-1">
            A "found footage" horror that I had little knowledge or expectations about. After an action-packed introduction,
            a brisk setup introducing the characters and their quest, it moves down to the catacombs underneath Paris.
            Similar to The Descent, it uses the claustrophobic setting to great effect. This is combined with a great telling
            of Dante’s Inferno 9 Circles of Hell allegory and creepy characters it has genuinely frightening moments. Running
            at a brisk 90 minutes, it uses every inch of its runtime to fantastic effect.
        </p>
        <p class="text-zinc-400">As Above, So Below</p>
    </blockquote>
</div> #}
