<h3 class="mb-4 text-2xl sm:text-3xl tracking-tight font-display font-black">Top Tracks</h3>

<table class="w-full text-base sm:text-xl">
    <thead>
        <tr>
            <th class="text-left px-4 py-2 text-base">Artist</td>
            <th class="text-left px-4 py-2 text-base">Song</td>
            <th class="text-right px-4 py-2 text-base">Count</th>
        </tr>
    </tbody>
    <tbody>
        <tr class="odd:bg-zinc-800">
            <td class="text-left px-4 py-3">Ben Folds</td>
            <td class="text-left px-4 py-3">In Between Days</td>
            <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                <span data-number>20</span>
            </td>
        </tr>
        <tr class="odd:bg-zinc-800">
            <td class="text-left px-4 py-3">Bruce Lee Band</td>
            <td class="text-left px-4 py-3">Dance Dance Revolution</td>
            <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                <span data-number>18</span>
            </td>
        </tr>
        <tr class="odd:bg-zinc-800">
            <td class="text-left px-4 py-3">Bright Eyes</td>
            <td class="text-left px-4 py-3">Soul Singer in a Session</td>
            <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                <span data-number>14</span>
            </td>
        </tr>
    </tbody>
</table>
