---
layout: default.njk
---
<section class="snap-start bg-zinc-900 space-6 min-h-screen">
    <div class="container">
        <h1 class="py-10 text-6xl md:text-8xl tracking-tight font-display font-black text-center highlight"
            data-aos="fade-down" data-aos-delay="300">
            Statistics for {{ year }}
        </h1>

        <table class="w-full my-8 max-w-xl mx-auto text-xl sm:text-2xl md:text-4xl"
            data-aos="fade-right" data-aos-delay="150">
            <tbody>
                <tr class="odd:bg-zinc-800">
                    <td class="text-left px-4 py-3">Movies watched</td>
                    <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                        <span>{{ movies.count | formattedNumber }}</span>
                    </td>
                </tr>
                <tr class="odd:bg-zinc-800">
                    <td class="text-left px-4 py-3">Tracks listened to</td>
                    <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                        <span>{{ music.count | formattedNumber }}</span>
                    </td>
                </tr>
                <tr class="odd:bg-zinc-800">
                    <td class="text-left px-4 py-3">Photos taken</td>
                    <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                        <span>{{ photos.count | formattedNumber }}</span>
                    </td>
                </tr>
                <tr class="odd:bg-zinc-800">
                    <td class="text-left px-4 py-3">Miles cycled</td>
                    <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                        <span>{{ activities.cycled.distance | miles | formattedNumber }}</span>
                    </td>
                </tr>
                <tr class="odd:bg-zinc-800">
                    <td class="text-left px-4 py-3">Miles walked</td>
                    <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                        <span>{{ activities.walked.distance | miles | formattedNumber }}</span>
                    </td>
                </tr>
                <tr class="odd:bg-zinc-800">
                    <td class="text-left px-4 py-3">Blog posts written</td>
                    <td class="text-right px-4 py-3 tabular-nums tracking-tighter">
                        <span>{{ blog.count | formattedNumber }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="snap-start py-4 pb-20 min-h-screen">
    <div class="container">
        {% include '../_templates/movies.njk' %}
    </div>
</section>

<section class="snap-start min-h-screen pb-20">
    {% include '../_templates/activities.njk' %}
</section>

<section class="snap-start min-h-screen pb-20">
    <div class="container">
        {% include '../_templates/music.njk' %}
    </div>
</section>

<section class="snap-start min-h-screen pb-20">
    {% include '../_templates/photos.njk' %}
</section>
