<h2 class="py-10 text-4xl sm:text-6xl md:text-8xl tracking-tight font-display font-black text-center
    text-transparent bg-clip-text bg-gradient-to-tl from-rose-400 via-fuchsia-500 to-indigo-500"
    data-aos="fade-down" data-aos-delay="150">
    I listened to <strong data-number>{{ music.count | formattedNumber }}</strong> tracks.
    {# totalling <strong data-number>{{ music.time | hours | formattedNumber }}</strong> hours or
    <strong data-number>{{ music.time | hours | formattedNumber }}</strong> minutes. #}
</h2>

{# <div class="grid lg:grid-cols-2 gap-8">
    <div class="mb-4" data-aos="fade-right" data-aos-delay="500">
        {% include './music/tracks.njk' %}
    </div>

    <div data-aos="fade-left" data-aos-delay="750">
        {% include './music/artists.njk' %}
    </div>
</div> #}
