<div class="container">
    <h2 class="py-10 text-6xl md:text-8xl tracking-tight font-display font-black text-center highlight"
        data-aos="fade-down" data-aos-delay="150">
        <span class="text-zinc-300">I took</span> <strong data-number>{{ photos.count | formattedNumber }}</strong> photos
        <span class="text-zinc-300">and these are some of my</span> favourites.
    </h2>
</div>

<div class="mx-4">
    <ul class="flex flex-wrap justify-center gap-5 overflow-hidden py-4 sm:gap-8">
        {% for photo in photos.top %}
        <li class="aspect-square flex-none w-full max-w-sm sm:w-64 lg:w-96 overflow-hidden
            rounded-xl sm:rounded-2xl {{ 'md:rotate-2' if loop.index % 2 else 'md:-rotate-2' }}
            transition-transform duration-200 hover:rotate-0"
            data-aos="zoom-in" data-aos-delay="150">
            <img src="{{ photo.src }}" alt="{{ photo.title }}" />
        </li>
        {% endfor %}
    </ul>
</div>
