<section>
    <div class="container text-center">
        <h1 class="py-10 text-6xl md:text-8xl tracking-tight font-display font-black text-center highlight">
            Statistics
        </h1>

        <ul class="space-y-4">
            {% for year in years %}
            <li><a href="{{ year | absoluteUrl(config.baseUrl) }}" class="text-2xl underline underline-offset-8 hover:no-underline focus:no-underline">{{ year }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
