<section>
    <div class="container text-center">
        <h1 class="py-10 text-6xl md:text-8xl tracking-tight font-display font-black text-center
            text-transparent bg-clip-text bg-gradient-to-tl from-pink-500 via-red-500 to-yellow-500">
            Statistics
        </h1>

        <p><a href="{{ "/2022/" | url | absoluteUrl(config.baseUrl) }}" class="email underline underline-offset-8 hover:no-underline focus:no-underline">2022</a></p>
    </div>
</section>
